<div class="sidebar-header">
  <h3>Categories</h3>
</div>

<ul class="list-unstyled components">
  <li class="active"><a href="#">Sci-Fi</a></li>
  <li class="active"><a href="#">Horror</a></li>
  <li class="active"><a href="#">Romantic Comedy</a></li>


  <ul>
    <a href="#comingSoonMenu" data-toggle="collapse" aria-expanded="false">Coming Soon</a>

    <li class="collapse list-unstyled" id="comingSoonMenu">
    <li><a href="#">This Week</a></li>
    <li><a href="#">This Month</a></li>
    <li><a href="#">TBL</a></li>
  </ul>
</ul>
